{  
    margin: 0;  
    padding: 0;  
}  

header, footer, aside, nav, article, section, code {  
    display: block;  
}  
  
body {  
    margin: 0 auto;
	width: 90%;
    /* width: 750px; */
	font-family: Georgia, Futura, Lucida;
    background: #ffffff;
	line-height: 150%;
}  
  
p {  
    padding-bottom: 10px;  
} 

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	/* font-family: Verdana, Arial, Helvetica;	*/
	font-family: Georgia, Futura, Lucida;
	font-weight: bold;
}

h1 {
	text-align:center;
	padding: 60px;
	color: #545454;
	background-size: 100%;  
    border-radius: 22px; 
	/* Chrome and Safari */
	background: -webkit-gradient(linear, left top, left bottom, from(#ECF4FF), to(#ffffff));
	/* Firefox */
	background: -moz-linear-gradient(top, #ECF4FF, #ffffff);
	/* MS IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECF4FF, endColorstr=#FFFFFFFF);
	/* MS IE 8 */
	ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECF4FF, endColorstr=#FFFFFFFF)"; 
}

#shadeblock {  
    margin-top: 33px;  
    padding: 22px;  
    background: #DBEBFF;  
    background-size: 100%;  
    border-radius: 22px; 
	width: 80%;
} 

q {
	font-style:italic;
}

dt {
	font-weight: bold;
}

code {
	padding: 15px;
}

footer {
	font-family: Trebuchet;
	font-variant: small-caps;
	font-size: x-small;
	padding: 20px;
	/* Chrome and Safari */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ECF4FF));
	/* Firefox */
	background: -moz-linear-gradient(top, #ffffff, #ECF4FF);
	/* MS IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ECF4FF);
	/* MS IE 8 */
	ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ECF4FF)"; 
}
